Source: nodejs-connect
Section: misc
Priority: extra
Uploaders: Wade Simmons <wade@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.9.1

Package: nodejs-connect
Depends: nodejs (>= 0.4.1),
 nodejs-querystring (>= 0.0.6),
 nodejs-mime (>= 0.0.1),
 ${misc:Depends}
Architecture: all
Description: node-connect
 http://github.com/senchalabs/connect
